<div class="djangospice-row-actions">

    {% for action in table.widget.get_row_actions(record) %}

        {% with context=table.widget.get_row_action_context(record) %}

            <button
                type="button"
                class="djangospice-action
                       {{ action.css_class|default:'' }}"
                {{ table.widget.action_htmx action context }}

                {% if not action.enabled context %}
                    disabled
                    aria-disabled="true"
                {% endif %}
            >
                {% if action.icon %}
                    <span
                        class="djangospice-action-icon"
                        aria-hidden="true"
                    >
                        {{ action.icon }}
                    </span>
                {% endif %}

                <span class="djangospice-action-label">
                    {{ action.label }}
                </span>
            </button>

        {% endwith %}

    {% endfor %}

</div>