{% load render_table from django_tables2 %}

<div
    id="{{ content_id }}"
    class="relative w-full"
    x-data="tableWidget('{{ selection_id }}')"
>
    {% include "djangospice/table/toolbar.html" %}

    {% include "djangospice/table/bulk_actions.html" %}

    <div id="{{ table_id }}" class="relative overflow-x-auto">
        {% if table.rows %}
            {% render_table table %}
        {% else %}
            {% include "djangospice/table/empty.html" %}
        {% endif %}
    </div>

    {% include "djangospice/table/pagination.html" %}

    {% include "djangospice/table/loader.html" %}

    {% if row_context %}
        {% include "djangospice/table/row_context.html" %}
    {% endif %}

</div>